#### Intermediate Python
- by Rahul

**Python review**

In [ ]:
print('Hello from Notebook')

In [ ]:
s = 'Hello from Python'
s

In [ ]:
a = 10
b = 20
print(a)
print(b)

#### Dynamic language but still gives importance to types

In [ ]:
a = 10
print(type(a))

a = 3.1415
print(type(a))

a = 'Hello'
print(type(a))

a = []
print(type(a))

In [ ]:
x = 10
y = '10A'
z = x + int(y)
z

In [ ]:
str(x) + y

#### Control statements
- Conditional
    - if, if else, if elif else
- Iterative
    - for
- Loops
    - while
- Match case

In [ ]:
#for i in range(10): # from 0 to stop-1
#for i in range(1,11): # from 1 to stop-1
#for i in range(1,11,3): # from 1 to stop-1

for i in range(10,0,-1):
    print(i)

In [ ]:
for c in 'I Like Python':
    print(c, end=' ')

In [ ]:
s = input('Enter a number (1-12): ')
try:
    month = int(s)
    if month in (1, 2, 3):
        print('1st Quarter')
    elif month in (4, 5, 6):
        print('2nd Quarter')
    elif month in (7, 8, 9):
        print('3rd Quarter')
    elif month in (10, 11, 12):
        print('4th Quarter')
    else:
        print('Please enter a number between 1 and 12')    
except ValueError:
    print('Please enter a number')

#### Using match case

In [ ]:
s = input('Enter a number (1-12): ')
try:
    month = int(s)
    match month:
        case 1 | 2| 3:
            print('1st Quarter')
        case 4 | 5 | 6:
            print('2nd Quarter')
        case 7 | 8 | 9:
            print('3rd Quarter')
        case 10 | 11 | 12:
            print('4th Quarter')
        case _:
            print('Please enter a number between 1 and 12')    
except ValueError:
    print('Please enter a number')

#### Working with functions

In [ ]:
def add(a,b):
    result = a + b
    return result

#-----------------------------

x = 10
y = 20
result = add(x,y)

print('Sum of', x, 'and', y , 'is', result)
print('Sum of %d and %d is %d' % (x,y,result))
print('Sum of {} and {} is {}'.format(x,y,result))
print(f'Sum of {x} and {y} is {result}') # f-string

#### Variable scope

In [ ]:
a = 10

def func():
    print('Begin function----')
    global b
    b = 20
    print(f'a = {a}')
    print(f'b = {b}')
    
    print('Local variables:', locals())   # locals() function returns a dictionary having local variables
    print('----------------------------')
    print('Global variables:', globals())   # globals() function returns a dictionary having global variables
    
    print('End function----')
#--------------------------------------

func()
print(f'a = {a}')
print(f'b = {b}')

In [ ]:
import keyword

print(len(keyword.kwlist))

In [ ]:
print(keyword.kwlist)

In [ ]:
%%writefile hello.py
def say_hello(name):
    print(f'Hello {name}')

In [ ]:
import hello

hello.say_hello('John')
hello.say_hello('Sam')
hello.say_hello('Mat')

In [ ]:
from hello import say_hello

say_hello('A')
say_hello('B')
say_hello('C')

In [ ]:
from hello import say_hello as s1

s1('X')
s1('Y')
s1('Z')

In [ ]:
from hello import say_hello as s1
from hello2 import say_hello as s2

s2('John')

#### Types in Python
- Immutable
    - int, float, bool, str, tuple, frozenset
- Mutabale
    - list, set, dict

In [ ]:
# string in Python is Immutable

s1 = 'Hello'
print(id(s1))
s1 = s1 + 'World'
print(id(s1))

In [ ]:
s1 = 'Hello'
print(id(s1))

# Does not create a new string object in case another string has same content, that object would be reused 
s2 = 'Hello' 
print(id(s2))

#### Working with lists
- Ordered sequence of elements
- Mutable
- Can have heterogenous elements
- Can be sliced

In [ ]:
list1 = list((1,2,3,4,5))
print(len(list1))
print(type(list1))

In [ ]:
list2 = [1,2,3,4,5]
print(len(list2))
print(type(list2))

In [ ]:
list1[0]

In [ ]:
list1[len(list1)-1]

In [ ]:
list1[-1] # last element

In [ ]:
print(list2)
list2[2] = 100
print(list2)

In [ ]:
print(list2)
list2.append(112)
print(list2)

In [ ]:
list2.extend([1001,1002,1003])
list2

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9,10]
list1

In [7]:
list1 = [*range(1,11)]
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list1 = list(range(1,11))
list1

In [ ]:
list2 = [1, 3.1415, 'Hello', False, [10,20,30]]
list2

In [ ]:
# Slicing
list2 = list1[2:6] # from index 2 up to index 6-1
print(list1)
print(list2)
print(type(list2))

In [ ]:
a = list1[4]
type(a)

In [ ]:
list1[2:]

In [ ]:
list1[:6]

In [ ]:
list1[:]

In [ ]:
list1

In [ ]:
print(list1)
ele = list1.pop() # return and remove the last element
print(ele)
print(list1)

In [ ]:
print(list1)
ele = list1.pop(4) # return and remove the element at specified index
print(ele)
print(list1)

In [ ]:
print(list1)

if 8 in list1:
    list1.remove(8) # remove the specified element
else:
    print('Not present')
    
print(list1)

#### Square  of elements present in list1

In [ ]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

list2 = []
for ele in list1:
    list2.append(ele ** 2)
    
print(list1)
print(list2)

#### List comprehension

In [ ]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2 = [ele ** 2 for ele in list1]

print(list1)
print(list2)

#### List enumeration

In [ ]:
fruits = ['apple', 'banana', 'orange', 'pear', 'pineapple']

for i in range(0, len(fruits)):
    print(i, '-->', fruits[i])

In [ ]:
for i,ele in enumerate(fruits):
    print(index, '-->', ele)

#### List asiignment
1. Find the number of occurences of a given element (e.g. apple occurs 2 times)
2. Where does the element occur (give all indices in a list e.g. [0,3])

In [ ]:
fruits = ['apple', 'banana', 'orange', 'apple', 'pear', 'pineapple']
fruit_to_find = 'apple'

count = fruits.count(fruit_to_find)

if count > 0:
    indices = [i for i,ele in enumerate(fruits) if ele == fruit_to_find]
    print(f'{fruit_to_find} occurs {count} time(s)')
    print(f'{fruit_to_find} occurs at {indices}')    
else:
    print(f'{fruit_to_find} does not occur in {fruits}')

#### Working with sets
- Unordered
- Mutable
- Can have heterogenous elements
- Can't have duplicates

In [ ]:
set1 = set()
print(type(set1))
print(len(set1))

In [ ]:
set1 = {1,3,5}
print(type(set1))
print(len(set1))

In [ ]:
set1

In [ ]:
set1[3] = 100

In [ ]:
for ele in set1:
    print(ele)

In [ ]:
set1

In [ ]:
set1.add(10)
set1

In [ ]:
set1.update((10,20,30))
set1

In [ ]:
print(set1)
set1.remove(10)
print(set1)

In [ ]:
if 10 in set1:
    set1.remove(10) # raises KeyError if element does not exist

In [ ]:
print(set1)
set1.discard(20)
print(set1)

In [ ]:
set1.discard(20) # remove element if exists else ignore and keep quiet

#### Frozenset is an immutable set

In [ ]:
set1 = {'apple', 'banana'}
print(set1)
set1.add('orange')
print(set1)

In [ ]:
frozenset1 = frozenset(set1)
print(frozenset1)

frozenset1.add('pear') # Error since immutable

In [ ]:
frozenset1 = frozenset((1,2,3))
frozenset2 = frozenset1.copy()
frozenset3 = frozenset((4,5,6)).union(frozenset2)

print(frozenset3)

**Remove duplicates from a list**

In [ ]:
list1 = [3,2,5,7,1,9,3,1,2]
print(list1)

list1 = list(set(list1))

print(list1)

#### Write a function which takes a string as parameter, display the words and their frequency
1. Case sensitive
2. Case insensitive

In [ ]:
def word_frequency(string1):
    
    #case sensitive
    word_list = string1.replace('.', '').split()
    
    #case insensitive
    word_list = string1.replace('.', '').lower().split()
    
    unique_words = set(word_list)
    
    for word in unique_words:
        print(f'{word} --> {word_list.count(word)}')

#-------------------------------------------

s1 = 'Hello world from python. Python is a simple language. Hello again from python.'
word_frequency(s1)

#### Working with tuple
- Ordered sequence of elements
- Immutable
- Can have heterogenous elements
- Can be sliced

In [ ]:
tuple1 = tuple()

tuple2 = ()

print(type(tuple1))

print(type(tuple2))

In [ ]:
tuple1 = ('hello',) # Single element tuple
type(tuple1)

In [ ]:
# Tuple unpacking

tuple1 = (10,20,30)
a,b,c = tuple1

print(a)
print(b)
print(c)

In [ ]:
tuple1[1]

In [ ]:
tuple1[1] = 100 # Error since tuple is immutable

**Flatten a Tuple**

In [ ]:
tuple1 = (1,2,3,(4,5,6))
print(tuple1)

list1 = []

for ele in tuple1:
    if type(ele) is tuple:
        list1.extend(ele)
    else:
        list1.append(ele)

tuple1 = tuple(list1)        
        
print(tuple1)

#### Using comprehension for flattening

In [ ]:
tuple1 = (1, 2, 3, (4,5,6,7))

tuple(x for t in tuple1 for x in (t if isinstance(t, tuple) else (t,)))

#### Working with Dictionary
- Unordered (ordered from version 3.7)
- Made of up items where each item is a key/value pair
- Keys are unique and need to be immutable type
- Value can be of any type

In [ ]:
dict1 = {}
print(type(dict1))
print(len(dict1))

In [ ]:
dict1 = {'Name':'John', 'Age':21, 'Gender':'Male'}
print(type(dict1))
print(len(dict1))

In [ ]:
dict1['Name'] # KeyError in case the key does not exist

In [ ]:
dict1['Result'] = 'Fail' # New pair gets added
dict1

In [ ]:
dict1['Name'] = 'Johnson' # replace existing value if key already exists 
dict1

In [ ]:
value = dict1.get('Name123') # returns None in case the key does not exist
print(value)

In [ ]:
value = dict1.get('Name123', 'Not set') # returns the specified default value in case the key does not exist
print(value)

In [ ]:
dict1.keys() # returns a collection of dictionary keys

In [ ]:
for key in dict1.keys():
    print(key)

In [ ]:
dict1.values()

In [ ]:
for value in dict1.values():
    print(value)

In [ ]:
for key in dict1.keys():
    print(f'{key} --> {dict1[key]}')

In [ ]:
dict1.items()

In [ ]:
# item is a tuple having 2 elements, [0] is the key and [1] is the value
for item in dict1.items():
    print(f'{item[0]} :: {item[1]}')

In [ ]:
for k,v in dict1.items():
    print(f'{k} :: {v}')

In [ ]:
# by default, a dictionary iterates over its keys
for ele in dict1:
    print(ele)

In [ ]:
# index and key at that index
for i,ele in enumerate(dict1):
    print(i, '-->', ele)

Get output as follows: **i --> key ==> value**

In [ ]:
for i,ele in enumerate(dict1):
    print(i, '-->', ele, '==>', dict1[ele])

In [ ]:
for i,(k,v) in enumerate(dict1.items()):
    print(i, '-->', k, '==>', v)

#### Create a dictionary from a string
- each character will be the key and frequency will be the value

In [ ]:
s1 = 'Helloworld'

letters = {}

for ch in s1:
    letters[ch] = letters.get(ch,0) + 1

letters

#### Create a dictionary named stats
- stats = {'Male':4, 'Female':2, 'Unknown':2}

In [ ]:
dict1 = {
        101 : ('John', 20, 'Male'),
        102 : ('Sam', 22, 'Male'),
        103 : ('Jane', 21, 'Female'),
        104 : ('Mat', 23, 'Male'),
        105 : ('Nancy', 20, 'Female'),
        106 : ('X', 21, 'Unknown'),
        107 : ('Y', 22, 'Unknown'), 
        108 : ('Sean', 25, 'Male')    
}

stats = {}

for student in dict1.values():
    stats[student[2]] = stats.get(student[2],0) + 1

stats

#### Create dictionary

In [ ]:
keys = ('Name', 'Age', 'Gender', 'Result')
values = ('Johnson', 21, 'Male', 'Fail')

dict1 = {}

for i,key in enumerate(keys):
    dict1[key] = values[i]

dict1

In [ ]:
keys = ('Name', 'Age', 'Gender', 'Result')
values = ('Johnson', 21, 'Male', 'Fail')

dict1 = {key:values[i] for i,key in enumerate(keys)} # Dictionary comprehension

dict1

In [ ]:
keys = ('Name', 'Age', 'Gender', 'Result')
values = ('Johnson', 21, 'Male', 'Fail')

dict1 = dict.fromkeys(keys) # keys are set and values are None for all

for i,k in enumerate(dict1.keys()):
    dict1[k] = values[i]

dict1

In [ ]:
data = [('Name', 'Johnson'), ('Age', 21), ('Gender', 'Male'), ('Result', 'Fail')]
dict1 = dict(data)
dict1

In [1]:
# args is treated as a tuple, hence it can be iterated
def add(a, b, *args):
    
    result = a + b
    
    result = a + b + sum(args) # sum is a built-in function
    
    '''
    for ele in args:
        result += ele
    '''
    
    return result

In [2]:
add(10,20)

30

In [3]:
add(11,22,33)

66

In [4]:
add(1,2,3,4,5,6,7,8,9,10)

55

In [6]:
tuple1 = (1,2,3)
add(10, 20, *tuple1)

36

In [8]:
# kwargs is treated as a dictionary
def demo(**kwargs):
    for k,v in kwargs.items():
        print(k, '==>', v)

In [10]:
demo(x=10, y=20, z=30)

x ==> 10
y ==> 20
z ==> 30

In [12]:
db_details = {'host':'db.example.com', 'port':3306, 'user':'scott', 'password':'Tiger@123'}

demo(**db_details) # dictionary sent as kwargs

host ==> db.example.com
port ==> 3306
user ==> scott
password ==> Tiger@123