#### Ordered Dictionary

In [ ]:
from collections import OrderedDict

OrderedDict.__base__

In [ ]:
od = OrderedDict()

od['a'] = 1
od['b'] = 2
od['c'] = 3

print(od)
od['b'] = 10
print(od)

In [ ]:
# True implies move the item to the end
od.move_to_end('b', True)
print(od)

In [ ]:
# False implies move the item to the beginning
od.move_to_end('b', False)
print(od)

In [ ]:
d1 = {}
d1['a'] = 'A'
d1['b'] = 'B'

d2 = {}
d2['b'] = 'B'
d2['a'] = 'A'

d1 == d2 # compare the contents irrepective of the order of the items

In [ ]:
od1 = OrderedDict()
od1['a'] = 'A'
od1['b'] = 'B'

od2 = OrderedDict()
od2['b'] = 'B'
od2['a'] = 'A'

od1 == od2 # compare the contents and will consider the order of the items

In [ ]:
od2.move_to_end('b', True)
od1 == od2

In [ ]:
s1 = 'Helloworld'

letters = {}

for ch in s1:
    letters[ch] = letters.get(ch,0) + 1

letters

#### Default dictionary

In [ ]:
from collections import defaultdict

print(type(defaultdict))

In [ ]:
defaultdict.__base__

In [ ]:
s1 = 'Helloworld'
letters = defaultdict(int) # int - 0, float - 0.0, str - '', list - []

for ch in s1:
    letters[ch] = letters[ch] + 1

letters

In [ ]:
def default_value():
    return 'Not present'

dd = defaultdict(default_value) # function gets called in case a key does not exist in the dict 

dd['A'] = 'Apple'
dd['Z'] = 'Zebra'

print(dd['A'])
print(dd['Z'])
print(dd['D'])

#### Default dictionary assignment

Read from a file where each line in the file is a word followed by a count

- apple 2
- banana 6
- pear 4
- orange 12
- apple 5
- banana 3
- pear 2
- pineapple 1

1. Create a dictionary as --> {'apple':[2,5], 'banana':[6,3], 'pear':[4,2], 'pineapple':[1]}
2. Create a dictionary as --> {'apple':7, 'banana':9, 'pear':6, 'pineapple':1}

In [ ]:
fruits = defaultdict(list)

with open('fruits.txt', 'r') as fruits_file:
    line = fruits_file.readline()
    while line:
        fruit,count = line.split()
        fruits[fruit].append(int(count))
        line = fruits_file.readline()

fruits

In [ ]:
fruits = defaultdict(int)

with open('fruits.txt', 'r') as fruits_file:
    line = fruits_file.readline()
    while line:
        fruit,count = line.split()
        fruits[fruit] = fruits[fruit] + int(count)
        line = fruits_file.readline()

fruits

#### Create a class named Point having 2 fields 'x' and 'y'
- the fields can be initialized through the constructor and then they would be read only fields

#### Named tuple

In [21]:
from collections import namedtuple

type(namedtuple)

function

In [ ]:
Point = namedtuple('Point', ['x','y'])

p1 = Point(3, 4)
print(p1.x)
print(p1.y)

In [ ]:
Point._fields

In [ ]:
#can access through index as well
print(p1[0])
print(p1[1])

In [ ]:
p1.x = 10 # tuple is immutable

In [ ]:
Employee = namedtuple('Employee', ['id', 'name', 'designation'])

Employee._fields

In [ ]:
e1 = Employee(101, 'John', 'Programmer')
e1

In [ ]:
print(f'Emp id: {e1.id}')
print(f'Emp name: {e1.name}')
print(f'Emp designation: {e1.designation}')

In [ ]:
# create named tuple instance from a list
list1 = [102, 'Sam', 'Admin']

e2 = Employee._make(list1)
e2

In [ ]:
# create named tuple instance from a dict
dict1 = {'id': 103, 'name': 'Mat', 'designation': 'Accountant'}

e3 = Employee(**dict1) # kwargs concept
e3

In [ ]:
e3.name = 'Mathew'

In [ ]:
e4 = e3._replace(name='Mathew')

print(e3)
print(e4)

In [ ]:
e4.name

In [ ]:
e4.age

In [ ]:
getattr(e4, 'age', 'not set') # returns the default value rather than raising an Error

In [ ]:
class Demo:
    def __init__(self, x):
        self.__x = x
        
    def get_x(self):
        return self.__x

    def set_x(self, value):
        if value >= 1 and value <= 100:        
            self.__x = value
        else:
            print('Invalid value')
#-------------------------------------

d = Demo(10)

print(d.get_x())
d.set_x(200)
print(d.get_x())

In [26]:
class Demo:
    def __init__(self, x):
        self.__x = x
        
    @property
    def x(self):
        return self.__x

    '''
    @x.setter
    def x(self, value):
        if value >= 1 and value <= 100:        
            self.__x = value
        else:
            print('Invalid value')
    '''
#-----------------------------
d = Demo(10)
print(d.x)
d.x = 50
print(d.x)

10

AttributeError: property 'x' of 'Demo' object has no setter

In [27]:
Demo = namedtuple('Demo', ['x'])
d = Demo(11)
d.x

11

In [23]:
d.x = 14

AttributeError: can't set attribute

In [35]:
from dataclasses import dataclass

@dataclass(frozen=True)
class Demo:
    x: int
    
    def square(self):
        return self.x ** 2

    def cube(self):
        return self.x ** 3
#--------------------------

d = Demo(10)
print(d.x)
print(d.square())
print(d.cube())

10
100
1000

In [44]:
@dataclass(frozen=False)
class Employee:
    id: int
    name: str
    designation: str = 'User'
#----------------------------        

e = Employee(id=101, name='John')

print(e)

Employee(id=101, name='John', designation='User')

In [41]:
from enum import Enum

class DayOfWeek(Enum):
    SUNDAY = 1
    MONDAY = 2
    TUESDAY = 3
    WEDNESDAY = 4
    
    
d = DayOfWeek(DayOfWeek.SUNDAY)
print(d)

DayOfWeek.SUNDAY