#### Functional programming

#### Python functions
1. Functions are "first class" objects, i.e. can be created at  runtime
2. Can be assigned to a variable
3. Can be passed as an argument to a another function
4. Can be returned from a function

In [10]:
def say_hello(*s):
    return 'Hello ' + ''.join(s)

def add(*args):
    return sum(args)

def print_result(func, a):
    result = func(*a)
    print(result)

print_result(say_hello, 'John')    
print_result(add, (1,2,3,4,5))

Hello John
15

#### Lambda functions
- lambda keyword creates an anonymous function
- lambda can accept parameters
- lambda body is made up of an expression (only one expression)
- lambda will return the result of expression evaluation

In [11]:
type(lambda num : num ** 2)

function

In [12]:
(lambda num : num ** 2).__name__

'<lambda>'

In [13]:
(lambda a,b : a + b).__name__

'<lambda>'

In [14]:
(lambda num : num ** 2)(5)

25

In [15]:
(lambda num : num ** 2)(10)

100

In [16]:
sqr = lambda num : num ** 2

sqr(5)

25

In [17]:
sqr(10)

100

In [20]:
add = lambda a,b : a+b
add(2,3)

5

In [21]:
add = lambda *args : sum(args)

In [22]:
add(2,3)

5

In [23]:
add(1,2,3,4,5)

15

#### Higher-order function
- A function which accepts another function as a parameter OR returns a function as a return value 
- Built-in Higher order functions 
    - map()
    - reduce()
    - filter()

#### map()
- Purpose of map() is to apply transformation to input elements
- Syntax --> map(func, iterable), returns a map object which can be used for creating an iterable having transformed values
- The func is invoked for each value present in the iterable parameter and returns the transformed values
- Number of output elements is same as that of input elements

In [27]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

list2 = list(map(lambda num : num ** 2, list1)) # sqr is the lambda defined above

print(list1)
print(list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [31]:
tuple(map(lambda x : x * 2, [1,2,3]))

(2, 4, 6)

In [32]:
tuple(map(lambda x : x * 2, 'Python')) # string is the iterable input

('PP', 'yy', 'tt', 'hh', 'oo', 'nn')

In [34]:
list(map(lambda x : x * 2, ['Python'])) # list is the iterable input

['PythonPython']

In [40]:
number1 = [1, 2, 3]
number2 = [4, 5, 6]

result = map(lambda x,y : x+y, number1, number2)
list(result)

[5, 7, 9]

**Using map() function, transform Fahrenheit to Celcius**

In [44]:
temp_in_f = [70, 75, 80, 85, 90, 95, 98.6, 100]

temp_in_c = list(map(lambda f : round((f-32)*(5/9),2), temp_in_f))

print(temp_in_f)
print(temp_in_c)

[70, 75, 80, 85, 90, 95, 98.6, 100]
[21.11, 23.89, 26.67, 29.44, 32.22, 35.0, 37.0, 37.78]

#### reduce() function
- Producing a single result from a sequence of any number of elements
- Syntax reduce(func, iterable) --> return a single value
- The function would be applied to the input elements to compute a single value
- Part of functools module which needs to be imported

In [1]:
from functools import reduce

In [2]:
list1 = [1, 2, 3, 4, 5]
reduce(lambda a,b : a + b, list1)

15

In [8]:
def get_larger(a,b):
    if a > b:
        return a
    else:
        return b

list1 = [11, 7, 5, 9, 13, 3]

reduce(get_larger, list1)

13

In [9]:
reduce(lambda a, b : a if a < b else b, list1)

3

#### filter() function
- Syntax --> filter(func, iterable)
- filter() is used for eliminating unwanted values
- Function is invoked for each element present in the iterable
- Function used for filter() must return boolean value
- The result object contains only those elements for which the function returns True
- map() transforms whereas filter() will eliminate unwanted values
- Number of output elements may or may not be same as number of input elements

In [11]:
list1 = [1, 2, 4, 3, 6, 5, 9, 8, 7, 10]
list(filter(lambda x : x % 2 == 0, list1))

[2, 4, 6, 8, 10]

**Extract unique vowels preesnt in a string**
- case sensitive
- case insensitive

In [12]:
# case sensitive
s1 = 'It is a beautiful day out there'
is_vowel = lambda ch : ch in 'aeiouAEIOU'
set(filter(is_vowel, s1))

{'I', 'a', 'e', 'i', 'o', 'u'}

In [15]:
# case in-sensitive
s1 = 'It is a beautiful day out there'

is_vowel = lambda ch : ch in 'aeiou'

set(filter(is_vowel, s1.lower()))

{'a', 'e', 'i', 'o', 'u'}

In [19]:
s1 = 'Rhytm'
is_vowel = lambda ch : ch in 'aeiouAEIOU'
set(filter(is_vowel, s1))

set()

In [28]:
# Extract the digits from a string and frame a new number out of it
s1 = 'Py2t0h2on4'
is_digit = lambda ch : ch.isnumeric()

list1 = list(filter(is_digit, s1))
s2 = ''.join(list1)
s2

'2024'

In [29]:
print(int(s2))

2024

In [38]:
# get those items from strings which have any substring present in them

strings = ['city1','state1','country1','city2','state2','country2','city3','state3','country3']

substring = ['city','country']

contains_substring = lambda x : any(sub in x for sub in substring)

list(filter(contains_substring, strings))

['city1', 'country1', 'city2', 'country2', 'city3', 'country3']

In [31]:
# any / all

any([False, False, False]) # returns True if any one of the element is True

False

In [33]:
all([True, True, True]) # returns True if all the elements are True

True